/* line 1, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  font-weight: 200;
  color: slategray;
  margin: 0.5em 0 0.2em 0;
}

/* line 8, ../sass/main.scss */
a {
  color: orange;
  text-decoration: none;
}

/* line 13, ../sass/main.scss */
p {
  margin: 0.5em 0 1em 0;
}

/* line 17, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", sans-serif;
  line-height: 1.8;
  background: snow;
  color: dimgray;
  font-size: 105%;
}

/* line 27, ../sass/main.scss */
.pull-right {
  float: right;
}

/* line 31, ../sass/main.scss */
.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 36, ../sass/main.scss */
.inline-list > li {
  display: inline-block;
  padding: 0 5px 0 0;
}

/* line 42, ../sass/main.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 47, ../sass/main.scss */
.header-nav {
  margin: 20px auto;
}

/* line 51, ../sass/main.scss */
.header-links {
  text-align: center;
}
/* line 54, ../sass/main.scss */
.header-links li {
  padding-right: 60px;
  text-transform: uppercase;
}

/* line 60, ../sass/main.scss */
.page-header {
  background: #640a50;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}

/* line 66, ../sass/main.scss */
.page-title {
  color: snow;
  width: 820px;
  margin: 0 auto;
  padding: 15px 0;
}

/* line 73, ../sass/main.scss */
#content {
  width: 820px;
  margin: 0 auto;
  padding: 0 40px;
}

/* line 79, ../sass/main.scss */
.post-list {
  margin: 0;
  padding: 25px 0;
}
/* line 83, ../sass/main.scss */
.post-list li {
  list-style: none;
}
