/* line 3, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  font-weight: 200;
  color: slategray;
  margin: 0.5em 0 0.2em 0;
}

/* line 10, ../sass/main.scss */
a {
  color: orange;
  text-decoration: none;
}

/* line 15, ../sass/main.scss */
p {
  margin: 0.5em 0 1em 0;
}

/* line 19, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", sans-serif;
  line-height: 1.8;
  background: snow;
  color: dimgray;
  font-size: 105%;
}

/* line 29, ../sass/main.scss */
.pull-right {
  float: right;
}

/* line 33, ../sass/main.scss */
.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 38, ../sass/main.scss */
.inline-list > li {
  display: inline-block;
  padding: 0 5px 0 0;
}

/* line 44, ../sass/main.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 49, ../sass/main.scss */
.header-container {
  width: 820px;
  margin: 0 auto;
}
/* line 53, ../sass/main.scss */
.header-container a {
  text-shadow: 1px 1px 1px black;
  -webkit-transition: text-shadow 0.4s;
  -moz-transition: text-shadow 0.4s;
  -o-transition: text-shadow 0.4s;
  transition: text-shadow 0.4s;
}
/* line 58, ../sass/main.scss */
.header-container a:hover {
  text-shadow: 1px 1px 5px black;
}

/* line 63, ../sass/main.scss */
.header-nav {
  padding-left: 250px;
  display: inline-block;
  vertical-align: middle;
}

/* line 70, ../sass/main.scss */
.header-links > li {
  padding-right: 20px;
  text-transform: uppercase;
}

/* line 76, ../sass/main.scss */
.page-header {
  background: darkmagenta;
}

/* line 80, ../sass/main.scss */
.page-title {
  display: inline-block;
  vertical-align: middle;
  color: snow;
  margin: 0;
  padding: 30px 0;
}

/* line 88, ../sass/main.scss */
#content {
  width: 820px;
  margin: 0 auto;
  padding: 0 40px;
}

/* line 94, ../sass/main.scss */
.post-list {
  margin: 0;
  padding: 25px 0;
}
/* line 98, ../sass/main.scss */
.post-list li {
  list-style: none;
}
