@import "compass/css3/transition";
@import "compass/css3/transform";

$color-background: #F6F6F6;
$color-sidebar: #DDD;
$color-links: #DD1111;
$color-text: #222;

$content-margin: 60px;
$content-width: 620px;

$sidebar-width: 480px;
$medium-sidebar-width: 300px;
$medium-content-margin: 20px;

html, body {
    font-family: "Droid Sans", sans-serif;
    line-height: 1.8;
    background: $color-background;
    color: $color-text;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Droid Serif", serif;
    font-weight: 200;
    color: $color-text;
    margin: 0.5em 0 0.2em 0;
}

h1 > a, h2 > a {
    color: $color-text;

    &:hover {
        text-shadow: 0 0 1px lighten($color-text, 20);
    }
}

a {
    color: $color-links;
    text-decoration: none;
    @include transition(text-shadow 0.2s);

    &:hover {
        text-shadow: 0 0 1px lighten($color-links, 20);
    }
}

p {
    margin: 0.5em 0 2em 0;
}

.inline-list {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;
        padding: 0 5px 0 0;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: $sidebar-width;
    height: 100%;
    background: $color-sidebar;
    text-align: center;
}

.content {
    max-width: $content-width;
    margin: $content-margin 0 0 $content-margin + $sidebar-width;
    padding: 0 40px;
}

.sidebar-element {
    margin: 20px 0;
}

.page-header {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}

.page-title {
    font-size: 2em;
    text-align: center;
}

.header-links {
    > li {
        padding-right: 20px;
        font-size: 1.4em;
    }

    a {
        color: $color-text;

        &:hover {
            text-shadow: 0 0 1px lighten($color-text, 20);
        }
    }
}

.post {
    margin-bottom: 50px;
}

.post-header {
    > h1 {
        color: $color-text;
        margin: 0;
        line-height: 40px;
        font-size: 2em
    }

    > h2 {
        margin: 0;
        font-size: 1.4em;
    }
}

.post-list {
    margin: 0;
    padding: 25px 0;

    li {
        list-style: none;
    }
}

@media (max-width: 1366px) {
    body {
        font-size: .9em;
    }

    .sidebar {
        min-width: $medium-sidebar-width;
    }

    .content {
        margin:  $medium-content-margin 0 0 $medium-content-margin + $medium-sidebar-width;
    }
}

@media (max-width: 769px) {
    .sidebar {
        position: relative;
        right: 0;
        height: 100%;
    }

    .sidebar-element {
        margin: 5px 0;
    }

    .page-header {
        @include transform(none);
    }

    .header-links {
        font-size: 1.5em;
    }

    .avatar {
        display: none;
    }

    .content {
        margin: 20px;
        padding: 0;
    }
}
