@import "compass/css3/transition";

h1,h2,h3,h4,h5,h6 {
    font-family: "Droid Serif", serif;
    font-weight: 200;
    color: slategray;
    margin: 0.5em 0 0.2em 0;
}

a {
    color: orange;
    text-decoration: none;
}

p {
    margin: 0.5em 0 1em 0;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", sans-serif;
    line-height: 1.8;
    background: snow;
    color: dimgray;
    font-size: 105%;
}

.pull-right {
    float: right;
}

.inline-list {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;
        padding: 0 5px 0 0;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.header-container {
    width: 820px;
    margin: 0 auto;

    a {
        text-shadow: 1px 1px 1px black;
        @include transition(text-shadow 0.4s);
    }

    a:hover {
        text-shadow: 1px 1px 5px black;
    }
}

.header-nav {
    padding-left: 250px;
    display: inline-block;
    vertical-align: middle;
}

.header-links {
    > li {
        padding-right: 20px;
        text-transform: uppercase;
    }
}

.page-header {
    background: darkmagenta;
}

.page-title {
    display: inline-block;
    vertical-align: middle;
    color: snow;
    margin: 0;
    padding: 30px 0;
}

#content {
    width: 820px;
    margin: 0 auto;
    padding: 0 40px;
}

.post-list {
    margin: 0;
    padding: 25px 0;

    li {
        list-style: none;
    }
}

