.PageHeader {
  background-color: var(--color-bluegray);
  height: 80px;
  border-top: 5px solid var(--color-charcoal);
  color: white;
}

.PageHeader-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-content);
  margin: 0 auto;
  padding: 0 var(--padding-gutter);
  height: 100%;
}

.PageHeader-title {
  margin-bottom: 0;
}

.PageHeader-titleLink {
  color: currentcolor;
  text-decoration: none;
  text-transform: lowercase;
}

.PageHeader-nav {
  align-self: stretch;
}

.PageHeader-navItems {
  height: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.PageHeader-navItem {
  height: 100%;
}

.PageHeader-navItem + .PageHeader-navItem {
  margin-left: 2rem;
}

.PageHeader-navLink {
  color: currentcolor;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
