<header class="page-header">
    <div class="header-container">
        <a href="/"><h1 class="page-title">hughson.me</h1></a>

        <nav class="header-nav">
            <ul class="header-links inline-list">
                <li>
                    <a href="/blog"><i class="icon-book"></i> Blog</a>
                </li>
                <li>
                    <a href="/resume"><i class="icon-certificate"></i> Résumé</a>
                </li>
                <li>
                    <a href="https://twitter.com/bighuggies/"><i class="icon-twitter-sign"></i></a>
                </li>
                <li>
                    <a href="https://github.com/bighuggies/"><i class="icon-github-sign"></i></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/pub/andrew-hughson/3a/504/200"><i class="icon-linkedin-sign"></i></a>
                </li>
                <li>
                    <a href="mailto:andrew@hughson.me"><i class="icon-envelope"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
