.jumbotron h1 {
	margin-bottom: 9px;
	font-size: 54px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p {
	margin-bottom: 18px;
	font-weight: 300;
}
.post {
	margin-bottom: 20px;
}
.post-title * {
	text-decoration: none;
}
.post-date-author {
	font-size: 12px;
	margin-bottom: 12px;
}
#login {
	float: right;
}
textarea {
	resize: none;
}