.jumbotron h1 {
	margin-bottom: 9px;
	font-size: 54px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p {
	margin-bottom: 18px;
	font-weight: 300;
}
.post {
	margin-bottom: 20px;
}
.post-date, .post-author {
	padding: 0px;
	margin: 0px;
	font-size: 8pt;
}
.post-title * {
	text-decoration: none;
}
