.jumbotron h1 * {
	margin-bottom: 9px;
	font-size: 54px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-decoration: none;
}
.jumbotron p {
	margin-bottom: 18px;
	font-weight: 300;
}
.post {
	margin-bottom: 20px;
}
.post-title * {
	text-decoration: none;
}
.post-date-author {
	font-size: 12px;
	margin-bottom: 12px;
}
#login {
	float: right;
}
textarea {
	resize: none;
}
#avatar {
	margin-bottom: 20px;
	clear: both;
}
.sidebar h3 {
	margin-bottom: 10px;
}
.linksep {
	margin-top: 8px;
	margin-bottom: 8px;
}
.recent-posts {
	margin-top: 20px;
}
.sidebar img {
	margin-top: 10px;;
	margin-bottom: 30px;
}
.sidebar a {
	text-decoration: none;
}
.sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: left;
}
.sidebar li {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.sidebar {
	margin-bottom: 20px;
}
.front-list {
	margin-left: 0px;
	padding-left: 0px;
}
.front-list ul {
}
.front-list li {
	text-align: left;
	list-style: none;
	margin-bottom: 8px;
}
.front-list a {
	font-size: 12px;
	text-decoration: none;
	border-bottom: 1px solid #eeeeee;
}
