<header class="jumbotron">
	{% if current_user %}
	<div id="login">
		<div id="login">
			{% if current_user %} <a href="/compose">{{ _("New post") }}</a> - <a href="/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
			{% else %}
			{{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/login?next=" + url_escape(request.uri)} }}
			{% end %}
		</div>
	</div>
	{% end %} <h1><a href="/">Andrew Hughson</a></h1>
	<p class="lead">
		Software Engineering undergraduate in New Zealand
	</p>
	<hr />
</header>
