<div class="post">
	<div class="post-title">
		<h2><a href="/post/{{ post["year"] + "/" + post["month"] + "/" + escape(post["slug"]) }}">{{ escape(post["title"]) }}</a></h2>
	</div>
	<div class="post-date-author">
		{{escape(post["year"] + "-" + post["month"] + "-" + post["day"] + " by " + post["author"])}}
	</div>
	<div class="post-body">
		{{post['html']}}
	</div>
	{% if current_user %}
	<div id="post-edit">
		{{ _('<a href="%(url)s">Edit</a>') % {"url": "/edit?year=" + post["year"] + "&month=" + post["month"] + "&post=" + escape(post["slug"])} }}
	</div>
	{% end %}
</div>
