{% extends "base.html" %}
{% block body %}
<div class="row">
	<div class="newpost">
		<form id="new_post" class="form-horizontal" method="post">
			{{ xsrf_form_html() }}
			<fieldset>
				<legend>
					Write/edit a post
				</legend>
				<div class="control-group">
					<label class="control-label" for="post_title">Title</label>
					<div class="controls">
						<textarea class="input-xlarge span12" id="post_title" rows="1" name="post_title">{{post['title'] if post else ''}}</textarea>
					</div>
				</div>
				{% if post %}
				<input type="hidden" id="post_id" name="post_id" value="{{post['_id']}}">
				{% end %}
				<div class="control-group">
					<label class="control-label" for="post_contents">Text</label>
					<div class="controls">
						<textarea class="input-xlarge span12" id="post_contents" rows="20" name="post_contents">{{post['text'] if post else ''}}</textarea>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" id="publish_post">
						Save post
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% end %} 