{% extends "base.html" %}
{% block body %}

{{modules.Jumbotron()}}
<div class="row">
	<div class="posts span8">
		<h2>Things I wrote</h2>
		<ul id="post-list" class="front-list">
			{% if posts.count() > 0 %}
			{% for post in posts %}
			<li>
				<a href="post/{{post['slug']}}">{{ escape(post['title']) }}</a>
			</li>
			{% end %}
			{% else %}
			<p>
				Nothing yet
			</p>
			{% end %}
		</ul>
		<h2>Things I thought were interesting</h2>
		<ul id="bookmark-list" class="front-list">
			{% for bookmark in bookmarks %}
			<li>
				<a href="{{bookmark['url']}}">{{ escape(bookmark['title']) }}</a>{% if current_user %}<a href="bookmark?id={{ bookmark['_id'] }}" class="pull-right">[X]</a>{% end %}
			</li>
			{% end %}
		</ul>
	</div>
	<div class="sidebar span4">
		<h2 class="sidebar-heading">About</h2>
		<p class="description">
			I'm a software engineering undergraduate currently studying at the University of Auckland in New Zealand. These are some of my thoughts about software.
		</p>
		<img src="{{ static_url('img/me.jpg') }}" alt="Andrew Hughson">
		<ul>
			<a href="https://github.com/SpikeMeister">
			<li>
				GitHub
			</li> </a>
			<a href="https://twitter.com/#!/andrewhuggies">
			<li>
				Twitter
			</li></a>
			<a href="http://www.linkedin.com/pub/andrew-hughson/3a/504/200">
			<li>
				LinkedIn
			</li></a>
		</ul>
		<h2 class="sidebar-heading">Check these guys out</h2>
		<ul>
			<a href="http://www.merc-devel.com/">
			<li>
				Merc Devel
			</li></a>
			<a href="http://rfwalrus.wordpress.com/">
			<li>
				rfw's Pile of Stuff
			</li></a>
			<a href="http://xtzgzorex.wordpress.com/">
			<li>
				Zor's Blog
			</li></a>
		</ul>
	</div>
</div>
{% end %} 