{% extends "base.html" %}
{% block body %} <!-- <header>
<div id="login">
{% if current_user %} <a href="/compose">{{ _("New post") }}</a> - <a href="/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
{% else %}
{{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/login?next=" + url_escape(request.uri)} }}
{% end %}
</div>
<header> -->
{{modules.Jumbotron()}}
<div class="row">
	<div class="posts span8">
		{% for post in posts %}
		{{ modules.Post(post) }}
		{% end %}
		<ul class="pager">
			<li class="previous">
				<a href="?page={{ page + 1 if page else 1 }}">&larr; Older</a>
			</li>
			<li class="next">
				<a href="?page={{ page - 1 if page else '#' }}">Newer &rarr;</a>
			</li>
		</ul>
	</div>
	<div class="sidebar span4">
		<h3>About</h3>
		<p class="description">
			I'm a software engineering undergraduate currently studying at the University of Auckland in New Zealand. These are some of my thoughts about software.
		</p>
		<img src="{{ static_url('img/me.jpg') }}" alt="Andrew Hughson">
		<ul>
			<li>
				<a href="https://github.com/SpikeMeister">GitHub</a>
			</li>
			<li>
				<a href="https://twitter.com/#!/andrewhuggies">Twitter</a>
			</li>
			<li>
				<a href="http://www.linkedin.com/pub/andrew-hughson/3a/504/200">LinkedIn</a>
			</li>
		</ul>
	</div>
</div>
{% end %} 