<!doctype html>
<html lang="en-NZ">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}" />
    <title>atsh.me | Andrew Hughson</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicon/apple-touch-icon.png?v=YAol0QJERg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon/favicon-32x32.png?v=YAol0QJERg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon/favicon-16x16.png?v=YAol0QJERg"
    />
    <link rel="manifest" href="/site.webmanifest?v=YAol0QJERg" />
    <link
      rel="mask-icon"
      href="/assets/images/favicon/safari-pinned-tab.svg?v=YAol0QJERg"
      color="#374550"
    />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon/favicon.ico?v=YAol0QJERg"
    />
    <meta name="apple-mobile-web-app-title" content="atsh.me" />
    <meta name="application-name" content="atsh.me" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta
      name="msapplication-config"
      content="/assets/images/favicon/browserconfig.xml?v=YAol0QJERg"
    />
    <meta name="theme-color" content="#374550" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.title }}"
      href="/blog/feed.xml"
    />
    <link rel="stylesheet" href="/site.css" />
  </head>

  <body>
    <header class="header PageHeader">
      <div class="PageHeader-wrapper">
        <h1 class="PageHeader-title">
          <a class="PageHeader-titleLink" href="/">atsh</a>
        </h1>

        <nav class="PageHeader-nav" aria-label="Main">
          <ul class="PageHeader-navItems">
            <li class="PageHeader-navItem">
              <a href="/blog" class="PageHeader-navLink"> Blog </a>
            </li>
            <li class="PageHeader-navItem">
              <a
                href="https://github.com/andrewhughson"
                class="PageHeader-navLink"
              >
                GitHub
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="content in">{{ content }}</main>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HKTHEDSME5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HKTHEDSME5");
    </script>

    <script>
      // worlds most budget page transitions
      window.addEventListener("load", function () {
        document.querySelector(".content").classList.remove("in");
      });

      window.addEventListener("beforeunload", function () {
        document.querySelector(".content").classList.add("out");
      });
    </script>
  </body>
</html>
