.PageHeader {
  @height-header: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: @height-header;
  padding: 0 20%;
  background: rgba(0,0,0,0.05);
  border-top: 5px solid @color-charcoal;
  // box-shadow: 0 0 .2px @color-charcoal;
  @media(max-width: @screen-md-max) {
    padding: 0 5%;
  }

  @media(max-width: @screen-sm-max) {
    padding: 0.75rem 5%;
    flex-direction: column;
  }

  &-title {
    margin: 0;
  }

  &-titleLink {
    color: @color-charcoal;
    transition: color 0.1s;

    &:hover {
      text-decoration: none;
      color: lighten(@color-charcoal, 20%);
    }
  }

  &-nav {
    display: flex;

    @media(min-width: @screen-md-min) {
      align-self: stretch;
    }
  }

  &-navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 100%;
    min-height: 44px;
    color: @color-charcoal;
    font-size: 1.5rem;
    transition: background 0.1s;

    &:hover {
      text-decoration: none;
      background: lighten(@color-charcoal, 50%);
    }
  }
}
